@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato/Lato-Light.ttf");
}

@font-face {
	font-family: "Lato italic";
	src: url("../fonts/Lato/Lato-LightItalic.ttf");
}

@font-face {
	font-family: "Lato regular";
	src: url("../fonts/Lato/Lato-regular.ttf");
}

@font-face {
	font-family: "Lato regular italic";
	src: url("../fonts/Lato/Lato-Italic.ttf");
}

@font-face {
	font-family: "Lato bold";
	src: url("../fonts/Lato/Lato-Bold.ttf");
}

@font-face {
	font-family: "Lato bold italic";
	src: url("../fonts/Lato/Lato-BoldItalic.ttf");
}

@font-face {
	font-family: "Lato black";
	src: url("../fonts/Lato/Lato-Black.ttf");
}

@font-face {
	font-family: "Lato black italic";
	src: url("../fonts/Lato/Lato-BlackItalic.ttf");
}

@font-face {
	font-family: "Material Icons";
	src: url("../fonts/MaterialIcons/MaterialIcons-Regular.ttf"),
			 url("../fonts/MaterialIcons/MaterialIcons-Regular.ttf") format('truetype'),
			 url("../fonts/MaterialIcons/MaterialIcons-Regular.woff") format('woff'),
			 url("../fonts/MaterialIcons/MaterialIcons-Regular.woff2") format('woff2');
}