// O número máximo de cores utilizados no site é 6
$color-white: #ffffff;
$color-white-opacity: rgba(255, 255, 255, 0.5);
$color-black: #000000;
$color-orange: #F34604;
$color-grey: #636b6f;
$color-grey-dark: #303030;
$color-grey-light: #CCCCCC;
$color-cor-cool: #fe4545; //#F44