// O número máximo de cores utilizados no site é 6
$brand-white: #ffffff;
$brand-white-opacity: rgba(255, 255, 255, 0.5);
$brand-black: #000000;
$brand-orange: #F34604;
$brand-grey: #636b6f;
$brand-grey-dark: #303030;
$brand-grey-light: #CCCCCC;
$brand-cor-cool: #fe4545; //#F44
