/*
    estilização app.blade.php
*/
html, body {
    background-color: $brand-grey-dark;
    /*color: #FFF;*/
    font-family: $default-font-family,'Lato', 'Raleway','Indie Flower', sans-serif, cursive;
    font-weight: 100;
}

@font-face {    
    font-family: "Minstrel";
    src: url("../fonts/MinstrelPosterNF.ttf");
}