/*
    estilização app.blade.php
*/
html, body {
    background-color: $color-grey-dark;
    /*color: #FFF;*/
    font-family: $default-font-family,'Lato', 'Raleway','Indie Flower', sans-serif, cursive;
    font-weight: 100;
}

@font-face {    
    font-family: "Minstrel";
    src: url("../fonts/MinstrelPosterNF.ttf");
}

@mixin text-style($color, $size) {
	color: $color;
	font-size: $size;
}

p {
	@include text-style($color-grey-dark, $font-size-base);
}

.icon-small {
	width: 40px;
	height: 40px;
	border-radius: 5px;
}

strong {
	font-weight: 600;
}

.important {
	color: $color-orange;
}

.text-upper {
	text-transform: uppercase;
}

.text-upper-bold {
	font-weight: 600;
	text-transform: uppercase;
}

.text-sm-italic {
	font-size: $font-size-small;
	font-weight: 100;
	font-style: italic;
}

.text-sm-italic-bold {
	font-size: $font-size-small;
	font-weight: 600;
	font-style: italic;
}

.no-margin {
	margin: 0;
}

.float-none {
	float: none;
}



.image-block {
	display: inline-block;
	width: inherit;
	height: inherit;
}

.image-block-sm {
	display: inline-block;
	width: 175px;
	/*height: 75px;*/
}

.img-responsive {
    display: block;
    max-width: 100%;
    width: inherit;
    height: inherit;
}

.abstract {
	padding-top: 15px;
}

.title-orange {
	color: $color-white;
    background: $color-orange;
    padding: 10px;
    display: inline-block;
    position: relative;
    word-wrap: break-word;
    word-break: break-word;
}

.title-white {
	color: $color-orange;
    background: $color-white;
    padding: 10px;
    display: inline-block;
    position: relative;
    word-wrap: break-word;
    word-break: break-word;
}

@media screen and (min-width: $min-screen-sm) {
	.title-orange {
		&:after {
	    	content: '';
			width: 0;
			height: 0;
			border-top: 0 transparent;
			border-left: 0 transparent;
			border-right: 30px transparent;
			border-bottom: 46.1px $color-orange;
			position: absolute;
			display: block;
			border-style: solid;
			top: 0;
			right: -30px;
	    }
	}

	.title-white {
		&:after {
	    	content: '';
			width: 0;
			height: 0;
			border-top: 0 transparent;
			border-left: 0 transparent;
			border-right: 30px transparent;
			border-bottom: 46.1px $color-white;
			position: absolute;
			display: block;
			border-style: solid;
			top: 0;
			right: -30px;
	    }
	}
}

@media screen and (min-width: $min-screen-md) {
	.image-block {
		display: inline-block;
		width: 350px;
		height: 150px;
	}
	.image-left {
	    float: left;
	    border-right: 2px solid #CCCCCC;
	    margin-right: 5px;
	    padding-right: 5px
	}

	.image-right {
	    float: right;
	    border-left: 2px solid #CCCCCC;
	    margin-left: 5px;
	    padding-left: 5px
	}
}