/*
    estilização app.blade.php
*/
html, body {
    background-color: $color-grey-dark;
    /*color: #FFF;*/
    font-family: $default-font-family,'Lato', 'Raleway','Indie Flower', sans-serif, cursive;
    font-weight: 100;
}

@font-face {    
    font-family: "Minstrel";
    src: url("../fonts/MinstrelPosterNF.ttf");
}

@mixin text-style($color, $size) {
	color: $color;
	font-size: $size;
}

p {
	@include text-style($color-grey-dark, $font-size-base);
}

.icon-small {
	width: 40px;
	height: 40px;
	border-radius: 5px;
}



strong {
	font-weight: 600;
}

.important {
	color: $color-orange;
}

.text-upper {
	text-transform: uppercase;
}

.text-upper-bold {
	font-weight: 600;
	text-transform: uppercase;
}

.no-margin {
	margin: 0;
}

.float-none {
	float: none;
}

.image-left {
    float: left;
    border-right: 2px solid #CCCCCC;
    margin-right: 5px;
    padding-right: 5px
}

.image-block {
	display: inline-block;
	width: 350px;
	height: 150px;
}

.img-responsive {
    display: block;
    max-width: 100%;
    width: inherit;
    height: inherit;
}