/* color AKADA
    orange - #F34604;
    grey - #CCCCCC;
    grey-1 #646c70;
    grey-2 #303030; -- body
*/



.menu {
    background-color: $brand-grey-dark;
    .brand-logo {
        height: inherit;
        padding: 5px 10px;
        img {
            height: inherit;
        }
    }

    #nav-mobile {
            top: $navbar-line-height;
            position: relative;
        a {
            text-transform: uppercase;
            font-weight: 600;
        }
    } 
}
@media screen and (min-width: $min-screen-sm) {
    .menu {
        background-color: $brand-orange;
        .brand-logo {
            background-color: $brand-grey-dark;
        }
    }
}