.collapsible { 
	.collapsible-header {
		line-height: 21px;
		padding-top: 3px; 
		padding-bottom: 3px;
		@media screen and (min-width: $min-screen-sm) {
			line-height: 3rem;
			padding-top: 0;
			padding-bottom: 0;
	 	}
	}
}
.institucional {
	.bg-img-institucional {
		background-image: url('../img/bg-img-institucional.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		height: 120px;
		max-height: 120px;
		padding: 20px;
	}
}

.ecommerce {
	.packages {
		.image-block-sm {
			width: 100%;
			.img-responsive {
				width: 180px;
				height: inherit;
				margin: 0 auto;
			}
		}
	}
}

@media screen and (min-width: $min-screen-sm) {
	.ecommerce {
		.packages {
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(center);
			.packages-body {
				padding: 0 10px;
				@include flex(1);
			}
		}
	}
}