/*
    estilização app.blade.php
*/
html, body {
    background-color: #303030;
    color: #FFF;
    font-family: 'Lato', 'Raleway','Indie Flower', sans-serif, cursive;
    /*src: url("https://fonts.googleapis.com/css?family=Raleway:100,600");*/
    font-weight: 100;
}

@font-face {    
    font-family: "Minstrel";
    src: url("../../fonts/MinstrelPosterNF.ttf");
}